</div>
<footer class="card text-center" id="footer">
	<div class="footer-content">
		<span>
			<a href="https://twitter.com/hyperjay55"><i class="fab fa-twitter" id="contact"></i></a>
		</span>
		<span>
			<a href="https://github.com/JamiuJimoh/Jart"><i class="fab fa-github" id="contact"></i></a>
		</span>
		<span>
			<a href="https://web.facebook.com/jayhova55/"><i class="fab fa-facebook" id="contact"></i></a>
		</span>
		<span>
			<a href="https://www.instagram.com/3ergio__/"><i class="fab fa-instagram" id="contact"></i></a>
		</span>
	  <p>Content delivered by &copy; Jamiu</p>
	</div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ==" crossorigin="anonymous"></script>
</body>
</html>