<footer class="footer" id="footer">
	<div class="content has-text-centered">
		<span>
			<a href="https://twitter.com/hyperjay55"><i class="fab fa-twitter"></i></a>
		</span>
		<span>
			<a href="https://github.com/JamiuJimoh/Jart"><i class="fab fa-github"></i></a>
		</span>
		<span>
			<a href="https://web.facebook.com/jayhova55/"><i class="fab fa-facebook"></i></a>
		</span>
		<span>
			<a href="https://www.instagram.com/3ergio__/"><i class="fab fa-instagram"></i></a>
		</span>
	  <p>Content delivered by &copy; Jamiu</p>
	</div>
  </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
	// Get all "navbar-burger" elements
	const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

	// Check if there are any navbar burgers
	if ($navbarBurgers.length > 0) {
		// Add a click event on each of them
		$navbarBurgers.forEach((el) => {
			el.addEventListener('click', () => {
				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');
			});
		});
	}
});


</script>
</body>
</html>