<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Jart</title>
</head>
<body>

    <div class="ui secondary pointing menu">
        <div class="ui container">
            <a href="/artworks" class="item">
                Jart
            </a>
            <a class="active item">
                Home
            </a>
            <div class="right item">
                <% if(!currUser){ %>
                    <a href="/login" class="item"> Login</a>
                    <a href="/register" class="item"> Sign Up</a>
                <% }else{ %>
                    <a href="">Signed In As <%=currUser.username%></a>
                    <a href="/logout" class="item">Logout</a>
                <% } %>
                <i onclick="toggleHamburger()" class="fas fa-hamburger fa-2x"></i>
            </div>
        </div>
    </div>
    