<%-include("./partials/header") %>

<div class="segment" id="about">
    <div class="container" id="about">
        <div class="container" id="container-about">
            <div class="box" id="about">
                <h1 class="title" id="about">About Jart</h1>
                <p class="about">
                    Jart is an online community for artists. Jart is a community where artists of various forms and categories meet and share their creativity through pictures.
                    You become a Jartist when join this community and you have the ability to share your Jarts, like and comment on other Jarts, follow other Jartists 
                    and build your Jart reputation.
                </p>
            </div>
        </div>
    </div>
</div>

<%-include("./partials/footer") %>
