
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous"></script>
        <title>Jart</title>
    </head>
    <body>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
        <a style="font-size:20px;" href="artworks" class="btn btn-lg btn-dark">View All Artworks</a>
    </div>
    
    <div class="content">
        <ul class="slideshow">
            <li><div class="text">“Creativity is contagious, pass it on”</div></li>
            <li><div class="text">“Every artist was first an amateur”</div></li>
            <li><div class="text">“To be an artist is to believe in life.”</div></li>
            <li><div class="text">“Creativity takes courage.”</div></li>
            <li><div class="text">“A picture is a poem without words”</div></li>
        </ul>
    </div>

        
</body>
</html>