<%-include("./partials/header") %>

<div class="container" id="form-container">
  <form class="form" action="/login" method="POST">
    <h3 class="form-title">Log In To Your Jart Account!</h3>
    <div class="form-group">
      <input  class="form-control" type="text" name="username" placeholder="username">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="password">
    </div>
    <p class="control">
      <button type="submit" class="btn btn-dark btn-block">Login</button>
    </p>
    <p class="control">
      <a href="/auth/google" class="btn btn-block" id="google">
        <span class="icon">
          <i class="fab fa-google google"></i>
        </span>
        <span class="google">Sign In with Google</span>
      </a>
    </p>
    <hr>
    <p class="hr">Don't have an account? <a href="register">Sign up</a></p> 
  </form>
</div>

<%-include("./partials/footer") %>